Repository FlowFuse/flowfuse, pull requests merged in 2022-12, with the labels that each got.

#1342 Update snapshot concept description
  docs/user/concepts.md
Labels: area:docs, backport

#1378 docs: Update Cloud docs around file nodes and NR versions
  docs/cloud/README.md
Labels: backport

#1383 Add sso_enabled flag to user model
  docs/contribute/workflows/login.md
  forge/db/migrations/20221207-01-add-user-sso.js
  forge/db/models/User.js
  forge/db/views/User.js
  forge/ee/lib/index.js
  forge/ee/lib/sso/index.js
  forge/routes/api/shared/users.js
  forge/routes/auth/index.js
  forge/routes/auth/oauth.js
  frontend/src/pages/account/Settings.vue
  frontend/src/pages/admin/Users/General.vue
  frontend/src/pages/admin/Users/dialogs/AdminUserEditDialog.vue
  test/unit/forge/routes/api/user_spec.js
Labels: area:frontend, area:migration, area:api

#1392 Fix indention of HTTPS/Wildcard heading
  docs/install/docker/README.md
Labels: backport

#1391 Fix homebrew link in DNS docs
  docs/install/dns-setup.md
Labels: backport

#1423 Fix link to Digital Ocean docs
  docs/install/kubernetes/README.md
  docs/install/kubernetes/digital-ocean.md
Labels: backport

#1438 Move File Storage section and fix header levels
  docs/install/docker/README.md
  docs/install/kubernetes/README.md
Labels: area:docs, backport

#1446 Add SSO docs
  docs/admin/README.md
  docs/admin/sso/README.md
  docs/admin/sso/images/create-sso-config.png
  docs/admin/sso/images/edit-sso-config.png
Labels: area:docs
