Repository FlowFuse/flowfuse, pull requests merged in 2023-05, with the labels that each got.

#2088 Update Docker upgrade instructions
  docs/install/docker/README.md
Labels: backport

#2042 Remote device access, editing and snapshotting with Auth enabled
  docs/install/configuration.md
  docs/user/devices.md
  docs/user/snapshots.md
  forge/comms/aclManager.js
  forge/comms/commsClient.js
  forge/comms/devices.js
  forge/db/controllers/Device.js
  forge/db/controllers/Project.js
  forge/db/controllers/ProjectSnapshot.js
  forge/db/migrations/20230406-01-add-device-version.js
  forge/db/migrations/20230418-01-add-device-mode.js
  forge/db/models/Device.js
  forge/db/models/ProjectSettings.js
  forge/db/views/Device.js
  forge/ee/lib/deviceEditor/DeviceTunnelManager.js
  forge/ee/lib/deviceEditor/index.js
  forge/ee/lib/index.js
  forge/ee/routes/deviceEditor/index.js
  forge/ee/routes/index.js
  forge/forge.js
  forge/routes/api/device.js
  forge/routes/api/deviceLive.js
  forge/routes/api/project.js
  forge/routes/api/projectActions.js
  forge/routes/api/projectDevices.js
  forge/routes/api/projectSnapshots.js
  frontend/src/api/devices.js
  frontend/src/api/instances.js
  frontend/src/components/DevicesBrowser.vue
  frontend/src/pages/application/components/cells/DeviceLink.vue
  frontend/src/pages/device/Overview.vue
  frontend/src/pages/device/dialogs/ModeChoiceDialog.vue
  frontend/src/pages/device/dialogs/SnapshotCreateDialog.vue
  frontend/src/pages/device/index.vue
  test/unit/forge/routes/api/device_spec.js
  test/unit/forge/routes/api/projectDevices_spec.js
  test/unit/forge/routes/api/teamDevices_spec.js
Labels: area:migration

#2059 Update aws.md
  docs/install/kubernetes/aws.md
Labels: backport

#1848 Add licensing info
  docs/admin/README.md
  docs/admin/licensing.md
Labels: backport

#2130 Handle non-string log message payloads
  frontend/src/pages/instance/components/InstanceLogs.vue
Labels: backport

#2134 Remove double backticks
  docs/user/devices.md
Labels: backport

#2141 Only Generate admin stats token when asked
  frontend/src/pages/admin/Settings/General.vue
Labels: bug, backport

#2149 Docs: Add additional SSO config notes on signed responses
  docs/admin/sso/README.md
Labels: backport

#2178 misc: Remove extra backtick
  docs/install/kubernetes/README.md
Labels: backport

#2187 Update link to mosquitto-go-auth
  docs/install/local/README.md
Labels: backport

#2196 Fix permissions for nr-tools-plugin accessing user team list
  forge/routes/auth/oauth.js
  package.json
  test/system/201-nr-tools-plugin.js
Labels: backport
