Repository FlowFuse/flowfuse, pull requests merged in 2023-01, with the labels that each got.

#1500 Docs: More explicit explanation of card failure handling
  docs/cloud/billing.md
Labels: backport

#1515 Fix sso warning
  forge/routes/auth/index.js
  test/unit/forge/routes/auth/index_spec.js
Labels: backport

#1487 Start to flesh out the Context Store config
  docs/install/file-storage/README.md
Labels: backport

#1534 docs: Re-request a verification email
  docs/cloud/README.md
Labels: backport

#1544 Free Trials in the Form of Stripe Credit
  docs/contribute/README.md
  forge/db/models/User.js
  forge/ee/db/controllers/Subscription.js
  forge/ee/lib/billing/index.js
  forge/ee/routes/billing/index.js
  forge/routes/api/user.js
  frontend/src/pages/team/Billing.vue
  frontend/src/pages/team/create.vue
  frontend/src/pages/team/createProject.vue
  frontend/src/stylesheets/layouts.scss
  test/unit/forge/db/models/User_spec.js
  test/unit/forge/ee/db/controllers/Subscription_spec.js
  test/unit/forge/ee/lib/billing/index_spec.js
  test/unit/forge/ee/routes/billing/index_spec.js
  test/unit/forge/ee/setup.js
Labels: area:billing

#1564 Guard against incomplete support/telemetry config
  forge/routes/ui/index.js
Labels: priority:high

#1600 Identify User at registration, rather than on return to app
  frontend/src/api/user.js
Labels: backport

#1604 First pass at Digital Ocean Droplet doc
  docs/install/docker/README.md
  docs/install/docker/digital-ocean.md
  docs/install/images/do-direct-to-setup.png
  docs/install/images/do-droplet-console.png
  docs/install/images/do-public-ip.png
  docs/install/images/do-wizard.png
  docs/user/project-settings.md
Labels: backport

#1613 Move the credit banner into the project type section
  frontend/src/pages/team/createProject.vue
Labels: backport
