Repository FlowFuse/flowfuse, pull requests merged in 2023-08, with the labels that each got.

#2573 Ensure Default InstanceType is enabled for Default TeamType in clean install
  forge/db/controllers/ProjectStack.js
  forge/db/controllers/TeamType.js
  forge/routes/setup/index.js
  frontend/src/pages/admin/TeamTypes/dialogs/TeamTypeEditDialog.vue
  test/system/001-setup_spec.js
Labels: backport

#2574 Add basic Team Type docs
  docs/admin/README.md
  docs/upgrade/README.md
  docs/user/concepts.md
Labels: area:docs, backport

#2575 Fix device running or reporting old snapshot id/name
  forge/comms/devices.js
  forge/db/controllers/Device.js
  forge/routes/api/device.js
  test/unit/forge/db/controllers/Device_spec.js
Labels: backport

#2596 Add application description to header of application summary box
  docs/user/concepts.md
  forge/db/migrations/20230814-01-add-description-to-applications.js
  forge/db/models/Application.js
  forge/db/views/Application.js
  forge/routes/api/application.js
  frontend/src/api/application.js
  frontend/src/pages/application/Settings.vue
  frontend/src/pages/instance/components/InstanceForm.vue
  frontend/src/pages/team/Applications.vue
  frontend/src/pages/team/createApplication.vue
  frontend/src/pages/team/createInstance.vue
  test/e2e/frontend/cypress/tests/applications.spec.js
  test/unit/forge/routes/api/application_spec.js
Labels: area:migration, backport

#2605 Allow admin to change sso_enabled users email
  forge/routes/api/shared/users.js
  test/unit/forge/routes/api/user_spec.js
  test/unit/forge/routes/api/users_spec.js
Labels: backport

#2607 Allow admin to edit sso user email in the UI
  frontend/src/pages/admin/Users/dialogs/AdminUserEditDialog.vue
Labels: backport

#2618 Aws market place docs
  docs/install/docker/aws-marketplace.md
  docs/install/docker/digital-ocean.md
  docs/install/images/aws-console-connect.png
Labels: backport

#2584 Personal access tokens
  forge/auditLog/user.js
  forge/db/controllers/AccessToken.js
  forge/db/migrations/20230818-01-add-access-token-name.js
  forge/db/models/AccessToken.js
  forge/routes/api/user.js
  forge/routes/auth/index.js
  frontend/src/api/user.js
  frontend/src/components/FormRow.vue
  frontend/src/pages/account/Security.vue
  frontend/src/pages/account/Security/Tokens.vue
  frontend/src/pages/account/Security/dialogs/TokenCreated.vue
  frontend/src/pages/account/Security/dialogs/TokenDialog.vue
  frontend/src/pages/account/components/ExpiryCell.vue
  frontend/src/pages/account/routes.js
  frontend/src/ui-components/components/DialogBox.vue
  frontend/src/ui-components/stylesheets/ff-components.scss
  test/e2e/frontend/cypress/tests/account/tokens.spec.js
  test/unit/forge/routes/api/user_spec.js
Labels: backport

#2639 Updating a license
  docs/upgrade/open-source-to-premium.md
Labels: backport

#2641 Add docs about Personal Access Tokens
  docs/api/README.md
  docs/api/images/tokens.png
Labels: backport

#2617 Docs Rebranding
  docs/README.md
  docs/admin/README.md
  docs/admin/licensing.md
  docs/admin/monitoring.md
  docs/admin/sso/README.md
  docs/admin/telemetry.md
  docs/admin/user_management.md
  docs/api/README.md
  docs/cloud/README.md
  docs/cloud/billing.md
  docs/contribute/README.md
  docs/contribute/adding-template-settings.md
  docs/contribute/api-design.md
  docs/contribute/architecture.md
  docs/contribute/db-migrations.md
  docs/contribute/workflows/README.md
  docs/device-agent/deploy.md
  docs/device-agent/introduction.md
  docs/device-agent/register.md
  docs/device-agent/running.md
  docs/install/README.md
  docs/install/configuration.md
  docs/install/dns-setup.md
  docs/install/docker/README.md
  docs/install/docker/digital-ocean.md
  docs/install/docker/stacks.md
  docs/install/file-storage/README.md
  docs/install/first-run.md
  docs/install/kubernetes/README.md
  docs/install/kubernetes/aws.md
  docs/install/kubernetes/digital-ocean.md
  docs/install/kubernetes/stacks.md
  docs/install/local/README.md
  docs/install/local/stacks.md
  docs/upgrade/README.md
  docs/upgrade/open-source-to-premium.md
  docs/user/README.md
  docs/user/changestack.md
  docs/user/concepts.md
  docs/user/devops-pipelines.md
  docs/user/envvar.md
  docs/user/filenodes.md
  docs/user/high-availability.md
  docs/user/instance-settings.md
  docs/user/logs.md
  docs/user/migration.md
  docs/user/node-red-tools.md
  docs/user/persistent-context.md
  docs/user/projectnodes.md
  docs/user/shared-library.md
  docs/user/snapshots.md
  docs/user/team/README.md
Labels: backport

#2648 Fix instructions for building custom stacks
  docs/install/docker/stacks.md
  docs/install/kubernetes/stacks.md
Labels: backport

#2684 Fix links following docs restructuring
  docs/README.md
  docs/contribute/introduction.md
  docs/upgrade/README.md
  docs/user/concepts.md
  docs/user/snapshots.md
  docs/user/team/README.md
Labels: backport
