Repository FlowFuse/flowfuse, pull requests merged in 2023-09, with the labels that each got.

#2683 Device Limit Banner Improvements
  frontend/src/components/DevicesBrowser.vue
  frontend/src/components/banners/FeatureUnavailableToTeam.vue
Labels: backport

#2688 Fix sending welcome email at start of new trial type
  forge/ee/lib/billing/emailTemplates/TrialTeamCreated.js
  forge/ee/lib/billing/index.js
Labels: priority:high, backport

#2708 Change default device command timeout to 10s
  forge/comms/devices.js
Labels: backport

#2723 Add getting started guide
  docs/user/concepts.md
  docs/user/images/getting-started/Add-Instance.png
  docs/user/images/getting-started/Add-Pipeline.png
  docs/user/images/getting-started/Execute-Pipeline.png
  docs/user/images/getting-started/Open-Editor.png
  docs/user/images/getting-started/response-code.png
  docs/user/images/getting-started/set-reply.png
  docs/user/images/getting-started/three-nodes.png
  docs/user/introduction.md
Labels: backport

#2733 Introduce ctrlX guides for docs
  docs/device-agent/README.md
  docs/hardware/README.md
  docs/hardware/ctrlx-device-agent.md
  docs/hardware/ctrlx-node-red.md
  docs/hardware/introduction.md
Labels: backport

#2741 docs: "currently" support HTTPS for local
  docs/install/local/README.md
Labels: backport

#2747 Fix Admin Overview layout on small screens
  frontend/src/pages/admin/Overview.vue
Labels: backport

#2744 Allow admin to create application/instances
  forge/routes/api/application.js
  forge/routes/api/project.js
  test/unit/forge/routes/api/application_spec.js
  test/unit/forge/routes/api/project_spec.js
Labels: backport

#2751 docs: settings is a tab, not a menu item
  docs/user/changestack.md
Labels: backport

#2743 Fix create TeamType dialog
  frontend/src/pages/admin/TeamTypes/dialogs/TeamTypeEditDialog.vue
  frontend/src/pages/admin/TeamTypes/index.vue
  test/e2e/frontend/cypress/tests/admin/team-types.spec.js
Labels: backport

#2758 Add invoice proration option to TeamType
  forge/containers/wrapper.js
  forge/ee/lib/billing/Team.js
  forge/ee/lib/billing/index.js
  frontend/src/pages/admin/TeamTypes/dialogs/TeamTypeEditDialog.vue
  test/unit/forge/ee/lib/billing/index_spec.js
Labels: backport

#2762 Update localfs to latest
  package-lock.json
  package.json
Labels: backport

#2767 Update FF Cloud billing description
  docs/cloud/billing.md
Labels: backport

#2775 fix: Anchor tag broken in docs
  docs/hardware/ctrlx-device-agent.md
Labels: backport

#2786 Clarify need for content-type to be set for api requests
  docs/api/README.md
Labels: backport

#2753 docs: How to duplicate instances to create devops pipelines
  docs/user/devops-pipelines.md
Labels: backport

#2812 Fix Main docs title
  docs/README.md
Labels: backport

#2833 Include docker-compose version requirement
  docs/install/docker/README.md
Labels: area:docs, backport

#2846 Fixup lots of FlowForge references
  config/webpack.config.js
  docs/README.md
  docs/admin/sso/README.md
  docs/community-support.md
  docs/contribute/architecture.md
  docs/contribute/images/ff-arch1.drawio.xml
  docs/contribute/images/ff-project-arch.drawio.xml
  docs/contribute/introduction.md
  docs/contribute/workflows/login.md
  docs/device-agent/deploy.md
  docs/device-agent/running.md
  docs/hardware/ctrlx-node-red.md
  docs/install/docker/README.md
  docs/install/docker/aws-marketplace.md
  docs/install/docker/stacks.md
  docs/install/kubernetes/README.md
  docs/install/kubernetes/aws.md
  docs/install/kubernetes/stacks.md
  docs/install/local/README.md
  docs/upgrade/README.md
  docs/user/concepts.md
  docs/user/high-availability.md
  docs/user/projectnodes.md
  frontend/src/pages/application/Overview.vue
  frontend/src/pages/application/Snapshots.vue
  frontend/src/pages/device/Snapshots/index.vue
  frontend/src/pages/instance/Snapshots/index.vue
  frontend/src/pages/setup/Options.vue
  frontend/src/pages/team/Applications.vue
Labels: backport

#2847 Fix URL for instance device snapshot
  frontend/src/api/devices.js
Labels: backport

#2850 v1.12.0 helm upgrade doc
  docs/install/kubernetes/README.md
Labels: backport

#2856 Fix Pipeline Issue where "Create New Snapshot" results in error
  frontend/src/components/pipelines/Stage.vue
  test/e2e/frontend/cypress/tests-ee/applications/pipelines.spec.js
Labels: backport
