Repository FlowFuse/flowfuse, pull requests merged in 2024-02, with the labels that each got.

#3420 fix seo docs links
  docs/admin/introduction.md
  docs/cloud/introduction.md
  docs/device-agent/introduction.md
  docs/install/introduction.md
  docs/migration/introduction.md
  docs/user/introduction.md
Labels: backport

#3422 Update community forum
  docs/community-support.md
Labels: backport

#3424 Request a Trial Enterprise License
  docs/install/introduction.md
Labels: backport

#3432 SEO docs fix
  docs/install/first-run.md
Labels: backport

#3431 Document AWS SES configuration
  docs/install/configuration.md
Labels: area:docs, backport

#3427 Home Screen Improvements: Add devices, activity log, and application summary
  forge/db/models/Application.js
  forge/db/views/Application.js
  forge/db/views/Device.js
  forge/db/views/Project.js
  forge/routes/api/team.js
  frontend/src/api/team.js
  frontend/src/data/audit-events.json
  frontend/src/pages/device/Overview.vue
  frontend/src/pages/device/index.vue
  frontend/src/pages/instance/components/EditorLink.vue
  frontend/src/pages/instance/components/cells/InstanceEditorLink.vue
  frontend/src/pages/instance/index.vue
  frontend/src/pages/team/Applications.vue
  frontend/src/pages/team/components/ApplicationSummaryLabel.vue
  frontend/src/stylesheets/components/applications-list.scss
  test/e2e/frontend/cypress/support/commands.js
  test/e2e/frontend/cypress/tests-ee/applications/empty-state.spec.js
  test/e2e/frontend/cypress/tests-ee/team/overview.spec.js
  test/e2e/frontend/cypress/tests/team/team.spec.js
  test/lib/TestModelFactory.js
  test/unit/forge/ee/routes/api/team_spec.js
  test/unit/forge/routes/api/team_spec.js
Labels: deploy:pr

#3436 Generate database structure via migration
  forge/db/index.js
  forge/db/migrations/20240202-01-initialise-database-structure.js
  forge/db/migrations/index.js
  forge/db/models/index.js
  forge/ee/db/controllers/Subscription.js
  forge/ee/db/models/index.js
  test/unit/forge/db/models/TeamType_spec.js
  test/unit/forge/ee/db/controllers/Subscription_spec.js
Labels: deploy:pr

#3460 Add license to configuration documentation
  docs/install/configuration.md
Labels: area:docs, backport

#3489 Fix link in k8s updgrade instructions
  docs/upgrade/README.md
Labels: area:docs, backport

#3492 Update docker docs to new container names
  docs/install/docker/README.md
Labels: area:docs

#3493 Update information about local PostgreSQL
  docs/install/kubernetes/README.md
Labels: backport

#3503 Fix NOT NULL constraint on `ProjectSnapshots.UserId`
  forge/db/migrations/20240220-01-fix-projectSnapshot-constraint.js
Labels: area:migration

#3506 Improve logPassthrough documentation
  docs/install/configuration.md
  docs/user/logs.md
Labels: area:docs, backport

#3521 Installation Service
  docs/install/introduction.md
Labels: backport

#3530 Add docs on keycloak sso
  docs/admin/sso/README.md
Labels: backport
