Repository FlowFuse/flowfuse, pull requests merged in 2024-05, with the labels that each got.

#3804 Update 06-story.yml
  .github/ISSUE_TEMPLATE/06-story.yml
Labels: deploy:pr

#3797 Sanitise output of snapshot /export API
  forge/db/controllers/ProjectSnapshot.js
  forge/db/views/ProjectSnapshot.js
  forge/routes/api/projectSnapshots.js
  test/unit/forge/routes/api/projectSnapshots_spec.js
Labels: deploy:pr

#3809 Remove coverage reporting of frontend tests
  .github/workflows/tests.yml
Labels: deploy:pr

#3808 Add redirect for /project/xyz to /instance/xyz
  frontend/src/pages/instance/routes.js
Labels: deploy:pr

#3806 Flow Viewer - Add the ability to visualise Library contents
  frontend/src/components/flow-viewer/FlowViewer.vue
  frontend/src/pages/team/Library/TeamLibrary.vue
  package-lock.json
  package.json
  test/e2e/frontend/cypress/tests-ee/team/library.spec.js
Labels: deploy:pr

#3805 Implement instance snapshot download
  forge/db/views/ProjectSnapshot.js
  forge/lib/permissions.js
  forge/routes/api/projectSnapshots.js
  frontend/src/api/projectSnapshots.js
  frontend/src/components/audit-log/AuditEntryIcon.vue
  frontend/src/components/audit-log/AuditEntryVerbose.vue
  frontend/src/data/audit-events.json
  frontend/src/pages/instance/Snapshots/dialogs/SnapshotExportDialog.vue
  frontend/src/pages/instance/Snapshots/index.vue
  test/e2e/frontend/cypress/tests/instances/snapshots.spec.js
  test/unit/forge/auditLog/project_spec.js
  test/unit/forge/db/controllers/ProjectSnapshot_spec.js
  test/unit/forge/routes/api/projectSnapshots_spec.js
Labels: deploy:pr

#3814 Generate snapshot-specific filename on download
  config/cypress-shared.config.js
  frontend/src/pages/instance/Snapshots/dialogs/SnapshotExportDialog.vue
  test/e2e/frontend/cypress/tests/instances/snapshots.spec.js
Labels: deploy:pr

#3766 Allow user setting node red version setting for application assigned devices
  forge/db/models/Device.js
  forge/routes/api/device.js
  forge/routes/api/deviceLive.js
  frontend/src/pages/device/Settings/Editor.vue
  frontend/src/pages/device/Settings/index.vue
  frontend/src/pages/device/routes.js
  test/e2e/frontend/cypress/tests-ee/team/overview.spec.js
  test/unit/forge/routes/api/device_spec.js
Labels: deploy:pr

#3821 docs: FlowForge -> FlowFuse
  docs/install/docker/stacks.md
Labels: backport

#3823 Validate pipeline stage ownership on update
  forge/ee/db/controllers/Pipeline.js
  forge/ee/routes/pipeline/index.js
  test/unit/forge/ee/routes/api/pipeline_spec.js
Labels: deploy:pr

#3826 Hide environment variable add/import buttons in read-only mode
  frontend/src/pages/admin/Template/sections/Environment.vue
Labels: deploy:pr

#3834 Remove project nodes from built-in list so they can be upgraded
  forge/lib/builtInModules.js
Labels: deploy:pr

#3653 GH Workflow: Implement the "Update Issue Status" workflow
  .github/workflows/update-issue-status.yml
Labels: deploy:pr

#3837 Fix the immersive editor dashboard button
  frontend/src/pages/instance/Editor/index.vue
  test/e2e/frontend/cypress/tests/instances/editor.spec.js
Labels: area:frontend

#3718 Remove NR Session when user role changes
  forge/db/controllers/StorageSession.js
  forge/db/controllers/Team.js
  forge/routes/api/teamMembers.js
  test/unit/forge/db/controllers/StorageSession_spec.js
  test/unit/forge/db/setup.js
Labels: deploy:pr

#3716 Implement health check interval user setting
  forge/db/models/Project.js
  forge/db/models/ProjectSettings.js
  forge/db/views/Project.js
  forge/routes/api/project.js
  frontend/src/pages/instance/Settings/LauncherSettings.vue
  frontend/src/pages/instance/Settings/index.vue
  frontend/src/pages/instance/Settings/routes.js
  test/e2e/frontend/cypress/tests-ee/instances/alerts.spec.js
  test/e2e/frontend/cypress/tests/instances/settings/launcher.spec.js
  test/unit/forge/routes/api/project_spec.js
Labels: deploy:pr

#3835 Visualise a snapshots flows
  frontend/src/api/snapshots.js
  frontend/src/components/dialogs/SnapshotViewerDialog.vue
  frontend/src/pages/application/Snapshots.vue
  frontend/src/pages/device/Snapshots/index.vue
  frontend/src/pages/instance/Snapshots/index.vue
  frontend/src/ui-components/components/DialogBox.vue
  test/e2e/frontend/cypress/fixtures/snapshots/device-snapshots.json
  test/e2e/frontend/cypress/fixtures/snapshots/device2-full-snapshot1.json
  test/e2e/frontend/cypress/fixtures/snapshots/instance-snapshots.json
  test/e2e/frontend/cypress/fixtures/snapshots/instance2-full-snapshot2.json
  test/e2e/frontend/cypress/tests-ee/devices/snapshots.spec.js
  test/e2e/frontend/cypress/tests/applications/snapshots.spec.js
  test/e2e/frontend/cypress/tests/instances/snapshots.spec.js
Labels: deploy:pr

#3843 Release 2.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: deploy:pr

#3852 Fix link in issue templates
  .github/ISSUE_TEMPLATE/01-bug_report.yml
  .github/ISSUE_TEMPLATE/03-feature.yml
  .github/ISSUE_TEMPLATE/06-story.yml
  .github/ISSUE_TEMPLATE/07-task.yml
Labels: deploy:pr

#3853 Offboarding surveys
  forge/routes/api/settings.js
  forge/settings/defaults.js
  frontend/src/composables/String.js
  frontend/src/pages/account/Settings.vue
  frontend/src/pages/admin/Settings/General.vue
  test/e2e/frontend/cypress/tests/admin/offboarding.spec.js
  test/e2e/frontend/cypress/tests/admin/terms-and-conditions.spec.js
  test/e2e/frontend/environments/standard.js
Labels: area:frontend, area:api, deploy:pr

#3857 Remove 'other' option from sign-up form
  frontend/src/pages/account/Create.vue
Labels: deploy:pr

#3861 Fix tile-select option sizing
  frontend/src/pages/team/changeType.vue
  frontend/src/ui-components/components/form/TileSelectionOption.vue
  frontend/src/ui-components/stylesheets/ff-components.scss
Labels: deploy:pr

#3868 Backend API for Upload A Snapshot
  forge/auditLog/application.js
  forge/db/controllers/Snapshot.js
  forge/lib/permissions.js
  forge/routes/api/snapshot.js
  test/unit/forge/auditLog/application_spec.js
  test/unit/forge/routes/api/snapshots_spec.js
Labels: deploy:pr

#3869 Frontend for Uploading a Snapshot
  frontend/src/api/snapshots.js
  frontend/src/components/audit-log/AuditEntryIcon.vue
  frontend/src/components/audit-log/AuditEntryVerbose.vue
  frontend/src/components/dialogs/SnapshotImportDialog.vue
  frontend/src/data/audit-events.json
  frontend/src/pages/device/Snapshots/index.vue
  frontend/src/pages/instance/Snapshots/index.vue
  frontend/src/stylesheets/components/empty-state.scss
  frontend/src/utils/snapshot.js
  test/e2e/frontend/cypress/fixtures/snapshots/snapshot-with-credentials.json
  test/e2e/frontend/cypress/tests-ee/devices/snapshots.spec.js
  test/e2e/frontend/cypress/tests-ee/team/overview.spec.js
  test/e2e/frontend/cypress/tests/instances/snapshots.spec.js
Labels: deploy:pr

#3878 Dashboard role uses should get team summary view on api
  forge/routes/api/team.js
  test/unit/forge/routes/api/team_spec.js
Labels: deploy:pr

#3748 billing: Start billing cycle on the 1st each month
  forge/ee/lib/billing/index.js
Labels: deploy:pr

#3872 Excluding admins from billing related redirects
  frontend/src/pages/team/index.vue
Labels: deploy:pr

#3881 Add username to response logging
  forge/forge.js
Labels: deploy:pr

#3873 Adds creatable flag on TeamType/Instance settings
  .github/workflows/test-docs.yml
  forge/db/models/Team.js
  frontend/src/pages/admin/TeamTypes/dialogs/TeamTypeEditDialog.vue
  frontend/src/pages/instance/components/InstanceForm.vue
  test/unit/forge/db/models/Team_spec.js
Labels: deploy:pr

#3882 Prevent password reuse
  forge/db/controllers/User.js
  frontend/src/pages/account/Security/ChangePassword.vue
  test/unit/forge/routes/api/user_spec.js
Labels: deploy:pr

#3898 Allow Create Team view to go full width
  frontend/src/pages/team/changeType.vue
  frontend/src/pages/team/create.vue
Labels: deploy:pr

#3886 Adding e2e tests to confirm that admins can navigate cancelled teams
  test/e2e/frontend/cypress/tests/team/billing.js
Labels: area:frontend, deploy:pr

#3900 ci: Update `update-issue-status` workflow to use github token
  .github/workflows/update-issue-status.yml
Labels: deploy:pr

#3905 ci: Replace `github.token` with one from secrets
  .github/workflows/update-issue-status.yml
Labels: deploy:pr

#3887 Double down on flow validation
  forge/ee/db/models/FlowTemplate.js
  frontend/src/pages/admin/FlowBlueprints/dialogs/FlowBlueprintFormDialog.vue
  test/e2e/frontend/cypress/tests/admin/terms-and-conditions.spec.js
  test/unit/forge/ee/routes/api/flowBlueprints_spec.js
Labels: area:frontend, area:api, deploy:pr

#3885 Improve snapshot actions across devices, instances and applications
  config/cypress-shared.config.js
  docs/migration/introduction.md
  docs/migration/node-red-tools.md
  docs/user/images/snapshots-actions.png
  docs/user/images/snapshots-preview.png
  docs/user/team/README.md
  forge/routes/api/snapshot.js
  frontend/src/composables/Download.js
  frontend/src/pages/application/Snapshots.vue
  frontend/src/pages/application/Snapshots/components/cells/DeployThisSnapshot.vue
  frontend/src/pages/application/Snapshots/components/dialogs/SnapshotExportDialog.vue
  frontend/src/pages/device/Snapshots/index.vue
  frontend/src/pages/instance/Snapshots/index.vue
  frontend/src/pages/team/Devices/dialogs/DeviceCredentialsDialog.vue
  frontend/src/pages/team/Devices/dialogs/ProvisioningCredentialsDialog.vue
  frontend/src/transformers/snapshots.transformer.js
  test/e2e/frontend/cypress/fixtures/snapshots/instance2-snapshot2.json
  test/e2e/frontend/cypress/tests-ee/devices/snapshots.spec.js
  test/e2e/frontend/cypress/tests/applications/snapshots.spec.js
  test/e2e/frontend/cypress/tests/instances/snapshots.spec.js
  test/unit/forge/routes/api/snapshots_spec.js
Labels: deploy:pr

#3906 ci: Enable dependabot for gha
  .github/dependabot.yml
Labels: deploy:pr

#3913 ci: Do not apply automatic labels on dependabot pull requests
  .github/workflows/labeler.yaml
Labels: deploy:pr

#3919 Update MS Entra SSO terminology
  docs/admin/sso/README.md
Labels: area:docs

#3924 Add flowfuse.com to the list of places allowed to load images from
  forge/forge.js
Labels: deploy:pr

#3897 Default tab fixed for Library page - issue #3871
  frontend/src/pages/team/Library/index.vue
  frontend/src/pages/team/routes.js
  test/e2e/frontend/cypress/tests-ee/team/library.spec.js
  test/e2e/frontend/cypress/tests/team/library.spec.js
Labels: deploy:pr

#3930 make the team instance creation page look more like a page
  frontend/src/components/blueprints/BlueprintTile.vue
  frontend/src/pages/instance/Blueprints/BlueprintSelection.vue
  frontend/src/pages/instance/components/InstanceForm.vue
  frontend/src/pages/team/createInstance.vue
Labels: deploy:pr

#3902 Add charges table to device create dialog
  frontend/src/components/DevicesBrowser.vue
  frontend/src/pages/instance/components/InstanceChargesTable.vue
  frontend/src/pages/instance/components/InstanceForm.vue
  frontend/src/pages/team/Devices/dialogs/TeamDeviceCreateDialog.vue
Labels: deploy:pr

#3931 Enable clicking on the Blueprint tile in Instance creation form
  frontend/src/pages/instance/Blueprints/BlueprintTileSmall.vue
  frontend/src/pages/instance/components/InstanceForm.vue
  test/e2e/frontend/cypress/tests-ee/blueprints/blueprints.spec.js
Labels: deploy:pr

#3932 Hide disabled instance types from the instance creation form
  frontend/src/pages/instance/components/InstanceForm.vue
  test/e2e/frontend/cypress/tests/instances.spec.js
Labels: deploy:pr

#3945 Fix instance creation form getting stuck without a team after refresh
  frontend/src/pages/application/createInstance.vue
Labels: deploy:pr

#3948 Ensure node red version in app device snapshot
  forge/routes/api/deviceLive.js
  test/unit/forge/routes/api/device_spec.js
Labels: deploy:pr

#3947 Alter application instance creation page to resemble a standalone page
  frontend/src/components/SectionNavigationHeader.vue
  frontend/src/mixins/Application.js
  frontend/src/pages/application/createInstance.vue
  frontend/src/pages/application/index.vue
  frontend/src/pages/application/routes.js
Labels: deploy:pr

#3954 Relabel stack to node red version
  frontend/src/components/audit-log/AuditEntryVerbose.vue
  frontend/src/pages/instance/Settings/Danger.vue
  frontend/src/pages/instance/Settings/General.vue
  frontend/src/pages/instance/Settings/Security.vue
  frontend/src/pages/instance/Settings/dialogs/ChangeStackDialog.vue
  frontend/src/pages/instance/components/InstanceForm.vue
  frontend/src/pages/team/createApplication.vue
Labels: deploy:pr

#3952 Revert billing_cycle_anchor change to fix coupons
  forge/ee/lib/billing/index.js
Labels: deploy:pr

#3925 Add LDAP support for SSO
  docs/admin/sso/README.md
  docs/admin/sso/images/create-sso-config-ldap.png
  docs/admin/sso/images/create-sso-config.png
  docs/admin/sso/images/edit-sso-config-ldap.png
  docs/admin/sso/ldap.md
  docs/admin/sso/saml.md
  forge/db/migrations/20240522-01-add-sso-type-to-SAMLProviders.js
  forge/ee/db/models/SAMLProvider.js
  forge/ee/db/views/SAMLProvider.js
  forge/ee/lib/sso/index.js
  forge/ee/routes/sso/index.js
  frontend/src/pages/admin/Settings/SSO/createEditProvider.vue
  frontend/src/pages/admin/Settings/SSO/index.vue
  package-lock.json
  package.json
  test/unit/forge/ee/lib/sso/index_spec.js
  test/unit/forge/ee/routes/sso/index_spec.js
Labels: area:migration, deploy:pr

#3958 Add 'app' to list of banned instance names
  forge/db/models/Project.js
Labels: deploy:pr

#3893 Use original timestamp for sorting instances on Last Updated column
  frontend/src/api/team.js
  frontend/src/pages/application/components/cells/SimpleTextCell.vue
  frontend/src/pages/team/Instances.vue
Labels: deploy:pr

#3961 Fix styling for admin blueprint tiles
  frontend/src/pages/admin/FlowBlueprints/index.vue
Labels: deploy:pr

#3964 Update localfs upgrade docs
  docs/install/local/README.md
Labels: area:docs

#3959 Replace stack tile selector with regular select on instance creation forms
  frontend/src/pages/instance/components/InstanceForm.vue
  test/e2e/frontend/cypress/tests/instances.spec.js
  test/e2e/frontend/environments/standard.js
Labels: deploy:pr

#3967 Hide deprecated env vars in the UI
  frontend/src/pages/admin/Template/sections/Environment.vue
Labels: deploy:pr

#3971 Handle httpAdminRoot when computing dashboard url
  frontend/src/pages/instance/components/DashboardLink.vue
Labels: deploy:pr
