Repository FlowFuse/flowfuse, pull requests merged in 2024-01, with the labels that each got.

#3293 Revert "Revert redirects as it breaks TOC for some reason"
  docs/admin/README.md
  docs/cloud/README.md
  docs/community-support.md
  docs/contribute/README.md
  docs/device-agent/README.md
  docs/hardware/README.md
  docs/install/README.md
  docs/migration/README.md
  docs/user/README.md
Labels: backport

#3330 Update device on group membership change
  docs/user/device-groups.md
  forge/db/controllers/Device.js
  forge/db/migrations/20240116-01-add-targetSnapshot-to-DeviceGroup.js
  forge/db/models/DeviceGroup.js
  forge/db/models/ProjectSnapshot.js
  forge/ee/db/controllers/DeviceGroup.js
  forge/ee/db/controllers/Pipeline.js
  forge/ee/db/models/PipelineStageDeviceGroup.js
  frontend/src/components/pipelines/Stage.vue
  frontend/src/pages/application/DeviceGroup/devices.vue
  test/unit/forge/ee/routes/api/applicationDeviceGroups_spec.js
  test/unit/forge/ee/routes/api/pipeline_spec.js
Labels: area:migration

#3368 Blueprints docs
  docs/user/images/blueprint-selection.png
  docs/user/introduction.md
Labels: backport

#3359 Update Digital-Ocean K8s install docs
  docs/install/kubernetes/digital-ocean.md
Labels: area:docs, backport, area:install

#3390 fix bash command formatting in Testing against PostgreSQL
  docs/contribute/introduction.md
Labels: backport

#3418 Move oauth session state to the database
  forge/db/migrations/20240131-01-add-oauth-sessions-table.js
  forge/db/models/OAuthSession.js
  forge/db/models/index.js
  forge/housekeeper/tasks/expireTokens.js
  forge/routes/auth/oauth.js
  package-lock.json
  package.json
Labels: area:migration
