Repository FlowFuse/flowfuse, pull requests merged in 2024-03, with the labels that each got.

#3536 Update AWS setup documentation
  docs/install/kubernetes/aws.md
Labels: area:docs, backport

#3541 Update device quick start
  docs/device-agent/images/add_device.png
  docs/device-agent/images/config_yml2.png
  docs/device-agent/images/config_yml2a.png
  docs/device-agent/images/config_yml2b.png
  docs/device-agent/images/developer.png
  docs/device-agent/images/device_cli.png
  docs/device-agent/images/device_gui.png
  docs/device-agent/images/editorEnabled.png
  docs/device-agent/images/nr_editor.png
  docs/device-agent/install.md
  docs/device-agent/quickstart-web-ui.md
  docs/device-agent/quickstart.md
  docs/device-agent/register.md
Labels: backport

#3558 fix typo in introduction.md
  docs/cloud/introduction.md
Labels: backport

#3563 AWS Marketplace login as ubuntu
  docs/install/docker/aws-marketplace.md
Labels: area:docs, backport

#3579 Docs: Fix broken links in the Device registration docs
  docs/device-agent/register.md
Labels: area:docs, backport

#3614 Ensure device group data loaded on direct navigation
  frontend/src/pages/application/DeviceGroup/index.vue
  frontend/src/pages/application/DeviceGroups.vue
Labels: deploy:pr

#3602 ci: Add initial FlowFuse platform setup when deployed from feature branch
  .github/workflows/branch-deploy.yaml
Labels: deploy:pr

#3651 Update persistent-context.md
  docs/user/persistent-context.md
Labels: backport

#3652 Show dashboard link on instances when dashboard-2 is installed
  forge/db/views/Project.js
  frontend/src/pages/application/Overview.vue
  frontend/src/pages/instance/components/DashboardLink.vue
  frontend/src/pages/instance/components/EditorLink.vue
  frontend/src/pages/instance/components/cells/DashboardLink.vue
  frontend/src/pages/instance/index.vue
  frontend/src/pages/team/Applications.vue
  frontend/src/stylesheets/components/applications-list.scss
  test/unit/forge/routes/api/project_spec.js
Labels: deploy:pr

#3601 Signup form validation improvements
  frontend/src/pages/account/Create.vue
  test/e2e/frontend/cypress/tests/registration.spec.js
Labels: deploy:pr
