Repository FlowFuse/flowfuse, pull requests merged in 2024-04, with the labels that each got.

#3645 Implement blueprint availability to team type option
  docs/user/concepts.md
  docs/user/introduction.md
  forge/db/migrations/20240325-01-add-teamTypeScope-to-FlowTemplates.js
  forge/ee/db/models/FlowTemplate.js
  forge/ee/db/views/FlowTemplate.js
  forge/ee/routes/flowBlueprints/index.js
  forge/routes/api/project.js
  frontend/src/api/flowBlueprints.js
  frontend/src/pages/admin/FlowBlueprints/dialogs/FlowBlueprintFormDialog.vue
  frontend/src/pages/admin/FlowBlueprints/index.vue
  frontend/src/pages/instance/components/InstanceForm.vue
  test/unit/forge/ee/routes/api/flowBlueprints_spec.js
  test/unit/forge/routes/api/project_spec.js
Labels: area:migration

#3649 Add credentialSecret to snapshot model and update logic to use it
  forge/db/controllers/ProjectSnapshot.js
  forge/db/migrations/20240327-01-add-credentialSecret-to-snapshots.js
  forge/db/models/ProjectSnapshot.js
  forge/ee/db/controllers/Pipeline.js
  forge/routes/api/deviceLive.js
  forge/services/snapshots.js
  test/unit/forge/db/controllers/ProjectSnapshot_spec.js
  test/unit/forge/ee/routes/api/pipeline_spec.js
Labels: area:migration, deploy:pr

#3667 Ensure polling for NR logs is stopped if page changed
  frontend/src/pages/instance/components/InstanceLogs.vue
Labels: deploy:pr

#3684 Update keycloak sso docs
  docs/admin/sso/README.md
Labels: backport

#3697 Link to ebook and blog post
  docs/user/introduction.md
Labels: backport

#3674 Update branch-deploy.yaml to use custom broker domain
  .github/workflows/branch-deploy.yaml
  ci/ci-values.yaml
Labels: deploy:pr

#3643 Allow .npmrc and calalogue urls to be set for Application bound devices
  docs/device-agent/deploy.md
  forge/db/models/Device.js
  forge/routes/api/device.js
  frontend/src/pages/device/Settings/Environment.vue
  frontend/src/pages/device/Settings/Palette.vue
  frontend/src/pages/device/Settings/index.vue
  frontend/src/pages/device/routes.js
  test/e2e/frontend/cypress/tests/devices/assignment.spec.js
  test/unit/forge/routes/api/device_spec.js
Labels: deploy:pr

#3720 Add privateCA config
  docs/install/configuration.md
Labels: backport

#3740 Add a new full width layout
  frontend/src/App.vue
  frontend/src/layouts/Plain.vue
  frontend/src/layouts/Platform.vue
  frontend/src/mixins/Alerts.js
  frontend/src/mixins/Dialog.js
  frontend/src/pages/account/routes.js
  frontend/src/pages/application/routes.js
  frontend/src/pages/instance/components/InstanceLogs.vue
  frontend/src/pages/instance/routes.js
Labels: area:frontend, size:XS - 1

#3709 Add new immersive instance editor
  frontend/src/components/DevicesBrowser.vue
  frontend/src/components/SideNavigationTeamOptions.vue
  frontend/src/components/pipelines/DeployStageDialog.vue
  frontend/src/images/icons/ff-logo--wordmark--grey.svg
  frontend/src/images/icons/ff-minimal-grey.svg
  frontend/src/layouts/Page.vue
  frontend/src/mixins/Instance.js
  frontend/src/pages/application/components/cells/DeviceAssignedToLink.vue
  frontend/src/pages/application/components/cells/InstanceInstancesLink.vue
  frontend/src/pages/device/Snapshots/dialogs/SnapshotAssignDialog.vue
  frontend/src/pages/instance/AuditLog.vue
  frontend/src/pages/instance/Devices.vue
  frontend/src/pages/instance/Editor/components/EditorWrapper.vue
  frontend/src/pages/instance/Editor/index.vue
  frontend/src/pages/instance/Editor/routes.js
  frontend/src/pages/instance/Overview.vue
  frontend/src/pages/instance/Settings/Danger.vue
  frontend/src/pages/instance/Settings/routes.js
  frontend/src/pages/instance/Snapshots/dialogs/SnapshotAssignDialog.vue
  frontend/src/pages/instance/components/EditorLink.vue
  frontend/src/pages/instance/components/cells/InstanceEditorLink.vue
  frontend/src/pages/instance/index.vue
  frontend/src/pages/instance/routes.js
  frontend/src/routes.js
  frontend/src/stylesheets/layouts.scss
  test/e2e/frontend/cypress/tests/instances/editor.spec.js
Labels: area:frontend

#3749 CI: Customise pre-staging environment
  .github/scripts/initial-setup.sh
  .github/workflows/branch-deploy.yaml
Labels: deploy:pr

#3761 Update the editor link on the application instances list to point to the appropriate editor
  frontend/src/pages/instance/components/EditorLink.vue
  frontend/src/pages/instance/components/cells/InstanceEditorLink.vue
  frontend/src/pages/instance/index.vue
  frontend/src/pages/team/Applications.vue
  frontend/src/ui-components/components/Button.vue
Labels: area:frontend, deploy:pr

#3753 UX Improvements to Immersive Editor
  frontend/src/pages/instance/Editor/components/EditorWrapper.vue
  frontend/src/pages/instance/Editor/components/drawer/DrawerTrigger.vue
  frontend/src/pages/instance/Editor/components/drawer/MiddleCloseButton.vue
  frontend/src/pages/instance/Editor/components/drawer/ResizeBar.vue
  frontend/src/pages/instance/Editor/index.vue
Labels: area:frontend, deploy:pr

#3767 Add e2e tests
  frontend/src/pages/instance/Editor/components/EditorWrapper.vue
  frontend/src/pages/instance/Editor/index.vue
  frontend/src/pages/instance/components/EditorLink.vue
  frontend/src/pages/team/Applications.vue
  test/e2e/frontend/cypress/tests/applications/overview.spec.js
  test/e2e/frontend/cypress/tests/instances/editor.spec.js
Labels: area:frontend, size:XS - 1

#3770 ci: Add additional stacks to pre-staging configuration script
  .github/scripts/initial-setup.sh
Labels: deploy:pr

#3774 Fix instructions for enabling the broker on k8s
  docs/install/kubernetes/README.md
Labels: area:docs, backport

#3777 Fix lib viewer when user does not specify an extension
  forge/ee/routes/sharedLibrary/index.js
  frontend/src/api/team.js
  frontend/src/pages/team/Library.vue
Labels: deploy:pr

#3782 Docs for setting up Dashboard v2 user plugin on selfhosted
  docs/upgrade/images/catalogue.png
  docs/upgrade/images/npmrc.png
  docs/upgrade/open-source-to-premium.md
Labels: area:docs, backport

#3769 Add "Open Dashboard" button to Immersive Editor
  frontend/src/pages/instance/Editor/index.vue
  test/e2e/frontend/cypress/tests/instances/editor.spec.js
Labels: area:frontend, size:XS - 1, deploy:pr

#3783 Add action buttons to applications overview instances list
  frontend/src/components/DropdownMenu.vue
  frontend/src/components/instance/ActionButton.vue
  frontend/src/layouts/Page.vue
  frontend/src/mixins/Audit.js
  frontend/src/mixins/Instance.js
  frontend/src/pages/application/Overview.vue
  frontend/src/pages/application/index.vue
  frontend/src/pages/instance/Editor/index.vue
  frontend/src/pages/instance/Settings/dialogs/ConfirmInstanceDeleteDialog.vue
  frontend/src/pages/instance/components/EditorLink.vue
  frontend/src/pages/instance/components/cells/InstanceActionsLink.vue
  frontend/src/pages/instance/index.vue
  frontend/src/pages/team/Applications.vue
  frontend/src/pages/team/Applications/components/Application.vue
  frontend/src/pages/team/Applications/components/ApplicationDevice.vue
  frontend/src/pages/team/Applications/components/ApplicationInstance.vue
  frontend/src/pages/team/Applications/index.vue
  frontend/src/pages/team/routes.js
  frontend/src/stylesheets/components/applications-list.scss
  test/e2e/frontend/cypress/tests-ee/team/overview.spec.js
  test/e2e/frontend/cypress/tests/instances.spec.js
Labels: area:frontend, deploy:pr

#3788 Fix displaying the nr editor while unavailable
  frontend/src/pages/instance/Editor/components/EditorWrapper.vue
Labels: area:frontend, deploy:pr

#3791 Alter instance editor links pointing to the immersive editor to point to the default editor
  frontend/src/pages/instance/components/EditorLink.vue
  test/e2e/frontend/cypress/tests/instances/editor.spec.js
Labels: area:frontend, deploy:pr
